.container-wide {
	width: 1280px;
	margin: 0 auto;
}

header{ 
	width: 100%;
	
}

#top-strip{
	height: 30px;
	
}

h1:hover{ 
	color: #666666;
	transition: 0.5s;
	cursor: pointer;
}
.menu-icon{
	float: left;
	margin: 10px;
	padding: 5px;
}
.menu-icon:hover{
	background-color: #F2F2F2;
	transition: 1s;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	margin: 10px;
	padding: 5px;
}
.search-icon{
	float: left;
	margin: 10px;
	padding: 5px;
}
.search-icon:hover{
	background-color: #F2F2F2;
	cursor: pointer;
	transition: 1s;
	border-radius: 4px;
	float: left;
	margin: 10px;
	padding: 5px;
}
#top-strip ul{
	text-align: center;
	margin-top: 10px;
}
#top-strip ul li{
	display: inline;
	padding: 5px 5px 0 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 0.6em;
	
	
}

#top-strip ul li:hover {
	display: inline;
	padding: 5px 5px 5px 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 0.6em;
	background-color: #F2F2F2;
	transition: 0.5s;
	border-radius: 4px;
	cursor: pointer;
}

.top-strip-button-subscribenow{
	border-radius: 2px;
	background-color: #6388a4;
	border: 0.5px solid #456177;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 10px;
	margin: 0 5px 0 5px;
	width: 8%;
	float: right;
	height: 12px;
	text-align: center;
}


.top-strip-button-subscribenow:hover{
	border-radius: 2px;
	background-color: #416B8B;
	transition: 0.5s;
	border: 0.5px solid #456177;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 10px;
	margin: 0 5px 0 5px;
	width: 8%;
	float: right;
	height: 12px;
	text-align: center;
	cursor: pointer;
}
.top-strip-button-login{ 
	border-radius: 2px;
	border: 0.5px solid #456177;
	background-color: #6388a4;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 10px;
	margin: 0 5px 0 5px;
	width: 4%;
	float: right;
	height: 12px;
	text-align: center;
	
}

.top-strip-button-login:hover{ 
	border-radius: 2px;
	border: 0.5px solid #456177;
	background-color: #416B8B;
	transition: 0.5s;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 10px;
	margin: 0 5px 0 5px;
	width: 4%;
	float: right;
	height: 12px;
	text-align: center;
	cursor: pointer;
}
.date{
	font-family:  Arial, "sans-serif";
	font-size: 0.8em;
	font-weight: 300;
	float: left;
	clear: left;
	margin-bottom: 10px;
}

img#logo{
	box-sizing: border-box;
	height: 60px;
	margin-left: 320px;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	
	
}

nav ul{
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #000000;
	padding: 10px;
	text-align: center;
}
nav ul li{
	font-family:  Arial, "sans-serif";
	font-size: 0.8em;
	font-weight: 300;
	padding: 5px;
	display: inline;
	margin: 0 10px 0 10px;
		
	
}
nav ul li:hover{
	padding: 5px;
	display: inline;
	background-color: #F2F2F2;
	transition: 1s;
	border-radius: 4px;
	cursor: pointer;

}

.hotbar-section{
	width: 25%;
	padding-left: 0;
	border-right: 1px solid #DADADA;
	height: 60px;
	float: left;
	margin-top: 10px;
	
}

.hotbar-section:hover{
	width: 25%;
	padding-left: 0;
	border-right: 1px solid #DADADA;
	height: 60px;
	float: left;
	margin-top: 10px;
	color: #999999;
	transition: 0.5s;
	cursor: pointer;
}


.hotbar-section h1{
	font-family:  Arial, "sans-serif";
	font-size: 0.8em;
	font-weight: bold;
	padding: 20px 0 5px 0;
	float: left;
	
}

.hotbar-section p{
	font-family: Arial, "sans-serif";
	font-size: 0.8em;
	float: left;
	color: #4A4A4A;
	display: block;
	
}

.hotbar-img {
	height: 60px;
	Border: 1px solid #fff;
	margin-right: 10px;
	margin-left: 0;
	float: left;
	padding-right: 5px;
	padding-top: 0;
	
	
}

.hotbar-img2 {
	height: 60px;
	Border: 1px solid #fff;
	float: left;
	padding-left: 15px;
	margin-right: 10px;
}

.hotbar-img3 {
	height: 60px;
	Border: 1px solid #fff;
	float: left;
	padding-left: 15px;
	margin-right: 10px;
}

.widgets{
	float: left;
	margin: 8px 0 0 10px;
	

}

.hr {
	border-bottom: 1px solid #000;
	margin-top: 70px;
	clear: left;
	width: 101.6%;
	margin: 0 auto;
	padding: 1px;
}
	
.main-article {
	width: 66%;
	box-sizing: border-box;
	float: left;
	margin-top: 20px;
	
}

.main-article h1{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: bold;
	font-size: 1.3em;
	float: left;
	width: 30%;
	Display: inline;
	margin: 0px 20px 20px 0;
	line-height: 125%;
	
	
}

.main-article ul{ 
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 0.9em;
	color: #606060;
	width: 30%;
	margin: 20px 20px 20px 0;
	list-style-type: disc;
	line-height: 150%;
	

}

.main-article img{
	float: right;
	display: inline;

	
}

.article-date{
	color: #999999;
	font-family: Arial, "sans-serif";
	font-size: 0.8em;
	display: inline;
	float: left;
	margin-right: 10px;
	
}


.comments{
	color: #999999;
	font-family: Arial, "sans-serif";
	font-size: 0.8em;
	display: inline;
	border-bottom: 1px solid #DADADA;
	float: left;
	cursor: pointer;
}

.chevron{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: bold;
	font-size: 1em;
	float: left;
	margin-bottom: 10px;
}

.side-bar {
	width: 33%;
	float: right;
	display: inline;
	box-sizing: border-box;
	margin-top: 20px;
	border-left: 1px solid #DADADA;
	padding-left: 10px;
	
	
}

.section1-text {
	width: 40%;
	float:left;
	line-height: 120%;

}

.side-bar h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: bold;
	font-size: 1em;
	float: left;
	margin-bottom: 10px;
	
}

.side-bar p {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 0.9em;
	color: #555555;
	float: left;
	margin-bottom: 10px;
	
	
}

.author{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #A19D9D;
	font-size: 0.8em;
	float: left;
	
	
}
.side-bar img{
	float: right;
	display: inline;
	
	
}

.secondary-article {
	float: left;
	border-top: 1px solid #DADADA;
	margin-top: 20px;
	padding: 10px 0 10px 0;
	display: inline;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
}

.secondary-article p{
	float: left; 
	width: 80%;
	display: inline;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 0.9em;
	color: #555555;
	line-height: 125%;
}

.secondary-article h1{
	float: left; 
	width: 80%;
	display: inline;
}

.secondary-article-date{
    color: #999999;
	font-family: Arial, "sans-serif";
	font-size: 0.8em;
	clear: left;
	float: left;
	margin-top: 20px;
}

.article-1{
	float: left;
	display: inline;
	width: 40%;
}
.article-2 {
	float: left;
	border-left: 1px solid #DADADA;
	display: inline;
	width: 30%;
	padding-left: 10px;
}
	
 .article-3{
	float: right; 
	display: inline;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 0.6em;
	color: #555555;
	line-height: 120%;
	width: 16%;
	margin-top: 10px;
	
	 
	}
.main-article-2{
	width: 66%;
	float: left;
	clear: left;
}	

.main-article-2 img{
	width: 33%;
	float: left;
	margin-left: 20px;
	display: inline;
	margin-top: 20px;
}

.main-article-2 h1{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: bold;
	font-size: 1.3em;
	float: left;
	padding-bottom: 10px;
	Display: inline;
	line-height: 125%;
}

.main-article-2 p{
	float: left; 
	display: inline;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 0.9em;
	color: #555555;
	line-height: 120%;
	margin-bottom: 10px;
	clear: left;
}

.main-article-2-text {
	float: left;
	display: inline;
	margin: 20px 0 0 0;
	width: 30%;
	
	
}

.section2 {
	width: 100%;
	float: left;
	margin-top: 20px;
	border-bottom: 1px solid #DADADA;
	padding-bottom: 10px;
}
.section2 h1{
	margin-top: 10px;
}

.section2 p {
	line-height: 120%;
}

.side-bar-bottom{
	border-top: 1px solid #DADADA;
	float: left;
	margin-top: 10px;
	padding-top: 10px;
}

.section3 {
	width: 100%;
	float: left;
	margin-top: 20px;
	border-bottom: 1px solid #DADADA;
	
}

.section3 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
}
.section3 img{
	width: 20%;
	float: left;	
}


.section4 {
	width: 100%;
	float: left;

	margin-top: 20px;
	border-bottom: 1px solid #DADADA;
	
}

.section4 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
}
.section4 img{
	width: 20%;
	float: left;
}

.section5 {
	width: 100%;
	float: left;
	margin-top: 20px;
	
	
}

.section5 h1 {
	width: 75%;
	float: left;
	
	margin-top: 10px;
	
}

.section6 {
	width: 100%;
	margin-top: 20px;
	float: left;
	border-bottom: 1px solid #DADADA;
}

.section6 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
	
}

.section6 img{
	width: 20%;
	float: left;
}

.column1 {
	float:left;
	display: inline;
	width: 50%;
}

.column2{
	float: right;
	display: inline;
	width: 40%;
	border-left: 1px solid #DADADA;
	padding: 10px;
}

.section7 {
	width: 100%;
	margin-top: 20px;
	float: left;
	border-bottom: 1px solid #DADADA;
}

.section7 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
	
}

.section7 img{
	width: 20%;
	float: left;
}

.section8 {
	width: 100%;
	margin-top: 20px;
	float: left;
	border-bottom: 1px solid #DADADA;
}

.section8 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
}

.section9 {
	width: 100%;
	margin-top: 20px;
	float: left;
	border-bottom: 1px solid #DADADA;
}

.section9 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
}

.section10 {
	width: 100%;
	margin-top: 20px;
	float: left;
	
}

.section10 h1 {
	width: 75%;
	float: left;
	margin-top: 10px;
}

.side-bar-bottom-doublerule1 {
	border-bottom: 1px solid #000;
	clear: left;
	width: 100%;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
}
.side-bar-bottom-doublerule2 {
	border-bottom: 1px solid #000;
	clear: left;
	width: 100%;
	float: right;
	margin-top: 2px;
	margin-left: 10px;
}

a{
	text-decoration: none;
	color: #000;
			
}

.image-credit{
	font-size: 0.3em;
	color: #DADADA;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin-top: 5px;
}